*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

## Project-specific
# Wei Xu's code
logm-read-only
# keep all junk cycling through here
tmp
# here's where the log to csv parsing should go
parsedData
# here's where the python csv2js parsing should go
visualization/currData.js
