body {
    background-color: #030303;
}

.charts div {
    font: 10px sans-serif;
    text-align: left;
    margin: 1px;
    color: white;

    border: 2px solid #dadada;
    background-color: #000F26;
    border-radius: 7px;
    padding:10px;
    margin:10px;
}

.logcontainer {
    font: 14px sans-serif;  
    color: black;
    border: none;
}

.logtext {
    width: 350px;
    font: 14px sans-serif;
    color: white;
    border: none;
}

.configtext {
    font: 18px sans-serif;  
    color: white;
    border: none;
    background-color: #000F26;
    padding:3px;
    width: 130px;
    margin-left:20px;
}

.textbox {
    font: 18px sans-serif;  
    color: steelblue;
    border: 2px solid #dadada;
    background-color: #FFF;
    border-radius: 7px;
    padding: 5px;
    margin-top:15px;
    margin-left:15px;
    float:left;
    width: 260px;
}

.submitbutton {
    color: darkblue;
    background-color: #fff;
    font: 22px sans-serif;  
    padding:10px;
    margin:10px;
    border-radius: 7px;
    margin-top: 30px;
}

.statusbar {
    font: 22px sans-serif;  
    color: white;
    padding:10px;
    margin:10px;
    float:left;
}

.config {
    font: 18px sans-serif;  
    color: white;
    border: 2px solid #dadada;
    background-color: #000F26;
    border-radius: 7px;
    padding:10px;
    margin:10px;
    float:right;
}

.main {
    display: inline-block;
}

.main text {
    float:left;
    font: 18px sans-serif;  
    color: white;
}

.axis line, .axis path {
    color: white;
    shape-rendering: crispEdges;
    stroke: lightblue;
    fill: none;
}

circle {
    fill: white;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#slider span, #timerange-slider {
    float: left;
    clear: left;
    width: 250px;
    height: 20px;
    margin: 15px;
}

